

body {
    min-height: 100vh;
    background: url(./Imagenes/img1.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 5px 5px 15px 5px;
    text-indent: 10px;
    text-align: left;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
}
/* Configuración de las imágenes del Header 
*/
header {
    display: flex; 
    width: 600 px;
    height: 430px;
}

header img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition-duration: 5s;
}

header img:hover {
    cursor: pointer;
    width: 300px;
}
/* Fin configuración de las imágenes del Header. 
Fuente: https://www.instagram.com/reel/Cn4bYvDju8i/?utm_source=ig_web_copy_link
*/
#nombre_perfil{color: white;
    font-size: 80px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-shadow: 50px;
}
#nombre_perfil2{
    font-size: 40px;
    color: black;
    font-style: italic;
    margin: 5px;
    padding: 3px;
    text-align:center
}

i{
    margin-right: 10px;
    color: palevioletred;
}
h1 {
 color:black;
 font-size: 30px;
 padding: 10px;
 margin-top: 50px;
 }


aside{
    font-size: 18px;
    float: right;
    box-shadow: 0px 0px;
    text-align:inherit ;
   

    @media screen and (max-width:200px) {
     aside{ 
         float: none;    
    }
        }
    }

    .columnas{
            column-count: 2;
            column-gap: 25px;
    }


a{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

  

    figcaption{
        font-size: 15px;
        color: black;
        margin-top: none;    
    }

    #rwd{
        max-width: 100%;

        @media only screen and (max-width: 200px) 
            img {
              width: 100px;
                }
            }

footer{
    text-align: center;
}

.formulario {
    margin: 15px;
    width: 100%;
    padding: 10px;
}
.formulario form button, form input, form textarea { 
    margin: 5px 0px 5px 0px;
    width: 25%;
    padding: 15px;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.formulario input[type="submit"]{
   background: rgb(203, 203, 240);
   color: palevioletred;
    border: 30px;
    margin-top: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.formulario input[type="submit"]:hover,
.formulario input[type="submit"]:focus {
    background: plum;
    color: white;
    transition: background-color 1s ease-out;
}
